<!-- footer -->
<container>
  <wrapper class="footer">
    <row>
      <columns small="12" large="5">
        <spacer size="45"></spacer>

        <p>
          <small>
            Contact us
          </small>

          <br />

          <a href="tel:02150890821">
            <strong>
              021 5089 0821
            </strong>
          </a>
        </p>

        <spacer size="12"></spacer>

        <menu style="width: 120px;">
          <item href="https://web.facebook.com/RoojaiIndonesia" target="_blank">
            <img src="https://www.roojai.co.id/EmailTemplate/v1/common/icon-facebook.png" alt="Facebook" />
          </item>

          <item href="https://www.instagram.com/roojai_indonesia/" target="_blank">
            <img src="https://www.roojai.co.id/EmailTemplate/v1/common/icon-instagram.png" alt="Instagram" />
          </item>

          <item href="https://www.youtube.com/roojai/" target="_blank">
            <img src="https://www.roojai.co.id/EmailTemplate/v1/common/icon-youtube.png" alt="Youtube" />
          </item>
        </menu>
      </columns>

      <columns small="10" large="5">
        <spacer size="45"></spacer>
        
        <p>
          <small>
            &copy;2023 Roojai.co.id copyright.<br />
            CIBIS 9 17th Floor<br />
            Jl. TB Simatupang No.2<br />
            Cilandak Timur, Pasar Minggu<br />
            Jakarta Selatan 12560
          </small>
        </p>
      </columns>
    </row>

    <spacer size="46"></spacer>

    <row>
      <columns small="12" large="5">
        <p class="text-center">
          <small>
            * Terms &amp; Conditions apply

            <br />
            
            PT Roojai Insurance Agent &amp; PT Sompo Insurance Indonesia are licensed and supervised by OJK
          </small>
        </p>

        <spacer size="30"></spacer>
      </columns>
    </row>
  </wrapper>
</container>
<!-- footer -->