<row>
  <columns small="6" large="4" style="margin-bottom: 30px;">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-10-20230123.png" alt="icon rating - 10" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4" style="margin-bottom: 30px;">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-9-20230123.png" alt="icon rating - 9" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4" style="margin-bottom: 30px;">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-8-20230123.png" alt="icon rating - 8" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-7-20230123.png" alt="icon rating - 7" />
    </a>

    <spacer size="16"></spacer>
  </columns>
  </row>

<row>
  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-6-20230123.png" alt="icon rating - 6" />
    </a>
    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-5-20230123.png" alt="icon rating - 5" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-4-20230123.png" alt="icon rating - 4" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-3-20230123.png" alt="icon rating - 3" />
    </a>

    <spacer size="16"></spacer>
  </columns>
</row>

<row>
  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-2-20230123.png" alt="icon rating - 2" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-1-20230123.png" alt="icon rating - 1" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/nps-rating-0-20230123.png" alt="icon rating - 0" />
    </a>

    <spacer size="16"></spacer>
  </columns>

  <columns small="6" large="4">
    <a href="#">
      <img src="https://www.roojai.co.id/EmailTemplate/v2/common/icon-rate-spacer-20221205.png" alt="spacer" />
    </a>

    <spacer size="16"></spacer>
  </columns>
</row>