<container>
  <row
    class="collapse"
  >
    <columns
      small="12"
    >
      <callout
        class="primary"
      >
        <spacer size="18"></spacer>

        <p
          class="text-center"
        >
          <strong>
            Policy Number:
          </strong>
        </p>

        <p
          class="text-center"
        >
          <strong
            class="h4"
          >
            {policy_number}
          </strong>
        </p>

        <spacer size="14"></spacer>
      </callout>
    </columns>
  </row>
</container>